.lobby__search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby__search-query {
  display: flex;
  align-items: center;
  position: relative;
}

.lobby__search-input {
  width: 375px;
  height: 60px;
  padding: 0;
  font-size: 32px;
  text-align: center;
  background: #f0bfa4;
  border: 3px solid #000000;
  border-radius: 20px;
}

.lobby__search-results {
  border: 5px solid #000000;
  border-radius: 20px;
  margin: 5px 0 0;
  padding: 0;
  text-align: center;
}

.lobby__search-item {
  font-size: 18px;
  padding: 10px;
  list-style-type: none;
  background-color: #f0bfa4;
  border-bottom: #000000 1px solid;
  cursor: pointer;
}

.lobby__search-item:hover {
  background-color: #ecab88;
}

.lobby__search-item:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lobby__search-item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: none;
}
