.instructions {
  width: 640px;
}

.instructions__content {
  padding: 20px 18px;
}

.instructions-list {
  height: 305px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #edc8b8;
  box-shadow: 0 0 20px 20px #edc8b8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions-list__item {
  margin-bottom: 35px;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.instructions-list__item-hidden {
  display: none;
}

.instructions-btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px 0 0;
}

.instructions-btn {
  border-style: none;
  padding: 0;
  background-color: transparent;
}

.instructions-btn_left-arrow_img:hover {
  content: url(../../images/leftArrow-hover.svg);
}

.instructions-btn_left-arrow_img:active {
  content: url(../../images/leftArrow-click.svg);
}

.instructions-btn_right-arrow_img:hover {
  content: url(../../images/rightArrow-hover.svg);
}

.instructions-btn_right-arrow_img:active {
  content: url(../../images/rightArrow-click.svg);
}
