.header {
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: center;
  height: 100px;
}
.header__content_in-game {
  justify-content: flex-start;
  padding-left: 25px;
}

.header__title {
  height: 100%;
}
