.settings_options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.settings_options__title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  /* padding: 8px 10px;
  border-radius: 20px;
  background-color: #edc8b8; */
}

.settings_options-btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.settings_options-btn {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  /* padding: 8px 10px;
  border-radius: 20px;
  background-color: #edc8b8; */
}
