.room {
  width: 100%;
}
.room__content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.room__lobby-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room__lobby-code-btn {
  font-size: 32px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 18px;
  cursor:
    url(../../images/clipboard.svg) 0 0,
    pointer;
  border: none;
  background: none;
}

.room__lobby-wrapper {
  display: flex;
  gap: 30px;
}

.room__lobby-host-wrapper {
  align-items: center;
}

.room__lobby-host {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.room__lobby-players-wrapper {
  align-items: baseline;
}

.room__lobby-players-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  flex-wrap: wrap;
}

.room__lobby-players {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.title-label {
  color: #fff;
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
}

.room__lobby-players-info {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 700px;
  padding: 25px 45px;
  background-color: #ffd4c2;
  border-radius: 40px;
  position: relative;
  border: 5px solid #000;
  gap: 20px;
}

.room__exit-btn {
  background: none;
  border: none;
  display: flex;
  padding: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: absolute;
  left: -100px;
}
