.main {
  width: 845px;
}

.main__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nickname-form {
  height: 55px;
  width: 445px;
  margin: 54px 0 64px;
}

.nickname_input {
  width: 445px;
  height: 55px;
  padding: 0;
  border: none;
  text-align: center;
  height: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  box-shadow: #000 0 0 20px -5px;
  border-radius: 8px;
}
