.join-modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--active {
  visibility: visible;
}

.join-modal__content {
  width: 775px;
  height: 440px;
  background-color: #fed8b7;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-modal__close-btn {
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.join-modal__title {
  margin: 0 0 40px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}

.join-modal__form {
  padding-bottom: 25px;
  margin-right: 15px;
}

.join-modal__input {
  height: 31px;
  width: 168px;
  margin-right: 20px;
  padding: 12px;
  border: none;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 32px;
}

.join-modal__btn {
  width: 100px;
  height: 55px;
  border: none;
  background-color: #80be73;
  border-radius: 15px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}
