.options {
  width: 100%;
}

.options__content {
  display: flex;
}

.options__nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.options_btn {
  width: 224px;
  height: 75px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
}

.options-join__link {
  background-color: #80be73;
  color: #000;
}

.options-join__link:hover {
  background-color: #b6da82;
}

.options-join__link:active {
  background-color: #3a9c62;
}

.options-host__link {
  background-color: #E21E1E;
  color: #000;
}

.options-host__link:hover {
  background-color: #e94747;
}

.options-host__link:active {
  background-color: #9c2727;
}

.aux-cord-img {
  width: 167px;
  height: 135px;
  position: absolute;
  top: -120px;
  right: -80px;
  z-index: -1;
}

.bluetooth-img {
  width: 70px;
  height: 96px;
}
