.page {
  background-color: #fed8b7;
  font-family: "Sen", "Roboto", sans-serif;
}

.page__content {
  max-width: 2520px;
  margin: 0 auto;
  padding: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.falling-gifs {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.falling-gifs_imgs {
  position: absolute;
  width: 100px;
  height: auto;
  animation:
    fall linear infinite,
    fade linear infinite;
}

.text_shadow {
  text-shadow:
    -0.6px -0.6px 0 #d22,
    0.6px -0.6px 0 #d22,
    -0.6px 0.6px 0 #d22,
    0.6px 0.6px 0 #d22;
}

@keyframes fall {
  0% {
    transform: translateY(-115px);
  }
  100% {
    transform: translateY(110vh);
  }
}

@keyframes fade {
  0% {
    opacity: var(--initial-opacity);
  }
  90% {
    opacity: calc(var(--initial-opacity) * 0.4);
  }
  100% {
    opacity: 0;
  }
}
